<!-- WhatsApp Floating Button -->
<a href="https://wa.me/919999999999?text=Hi%20BVN%20Modulars!%20I'm%20interested%20in%20a%20free%203D%20design%20consultation.%20Please%20get%20in%20touch." 
   class="whatsapp-floating-btn" 
   target="_blank" 
   rel="noopener noreferrer"
   aria-label="Enquire on WhatsApp">
  <!-- Inline SVG for WhatsApp Logo for fast loading and crisp resolution -->
  <svg class="whatsapp-icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
    <path d="M.057 24l1.687-6.163c-1.041-1.804-1.588-3.849-1.587-5.946C.06 5.348 5.397.01 12.008.01c3.202.001 6.212 1.246 8.477 3.514 2.266 2.268 3.507 5.28 3.505 8.484-.004 6.657-5.34 11.997-11.953 11.997-2.005-.001-3.973-.502-5.713-1.458L0 24zm6.59-4.846c1.6.95 3.188 1.449 4.825 1.451 5.436 0 9.86-4.37 9.864-9.799.002-2.63-1.023-5.101-2.885-6.963C16.588 1.981 14.114.957 11.5.957c-5.432 0-9.855 4.37-9.859 9.802-.001 1.76.475 3.479 1.377 5.02l-.995 3.634 3.737-.968h-.002zm12.39-6.223c-.303-.151-1.793-.88-2.073-.982-.28-.102-.484-.151-.686.151-.204.304-.787.982-.965 1.185-.178.203-.355.228-.658.077-1.136-.57-1.87-1.01-2.61-2.277-.198-.34-.198-.55 0-.853.18-.27.303-.341.455-.51.152-.168.203-.288.304-.482.101-.193.051-.363-.025-.514-.077-.152-.687-1.654-.94-2.264-.247-.595-.5-.514-.686-.524-.178-.01-.381-.01-.584-.01-.203 0-.534.077-.813.382-.28.305-1.067 1.042-1.067 2.541 0 1.498 1.092 2.946 1.244 3.149.153.204 2.149 3.267 5.204 4.577.726.312 1.293.498 1.734.638.73.232 1.396.199 1.922.121.587-.087 1.794-.73 2.047-1.436.254-.706.254-1.314.178-1.436-.076-.123-.28-.196-.583-.348z"/>
  </svg>
  <!-- <span>Get Free 3D Design Consultation</span> -->
</a>
